* {
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    height: 480px;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.squares {
    border: 0.5px solid black;
}

button {
    width: 100px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
}